<main class="main d-flex">
  <app-animated-background></app-animated-background>
  <form (ngSubmit)="onSubmit()" class="form-center">
    <header>
      <h1>RENTA <span>GO</span></h1>
      <h2>Welcome back</h2>
    </header>
    <div class="username credentials">
      <div class="input-container">
        <fa-icon [icon]="faEmail"></fa-icon>
        <input
        (input)= "validateField()"
          type="text"
          [(ngModel)]="email"
          name="email"
          placeholder="Email address"
          required
        />
      </div>
    </div>
    <div class="password credentials f-column">
      <div class="input-container">
        <fa-icon [icon]="faLock"></fa-icon>
        <div class="eye-container" (click)="togglePasswordVisibility()">
          <fa-icon *ngIf="!showPassword" class="eye" [icon]="faEye"></fa-icon>
          <fa-icon *ngIf="showPassword" class="eye" [icon]="faEyeSlash"></fa-icon>
        </div>
        <input
          (input)= "validateField()"
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <span class="msg-error" *ngIf="errorCredentials">
        <fa-icon [icon]="faWarning"></fa-icon>
        Credenciales incorrectas</span>
        <span class="msg-error" *ngIf="emptyFields">
          <fa-icon [icon]="faWarning"></fa-icon>
          Error! Campos vacios.</span>
    </div>
    <div class="submit credentials">
      <button type="submit">Login</button>
    </div>
    <a [routerLink]="'/sign-up'">
      Don't have an account yet?
      <span>Register</span>
    </a>
  </form>
</main>
