<nav class="d-flex justify-between align-center">
  <div class="icon-container d-flex align-center">
    <h2>RENTA <span [ngStyle]="{'color':'red'}">GO</span></h2>
  </div>
  <!-- <div class="profile-container d-flex justify-between">
    <div class="search-container">
      <img src="https://icons.veryicon.com/png/o/miscellaneous/big-data-regular-monochrome-icon/search-893.png" alt="icon" />
      <input type="text" placeholder="Buscar tipo de auto" />
    </div>
    <div class="avatar-container d-flex justify-end align-center">
      <button>
        <img src="https://img.freepik.com/vector-premium/hombre-sonriente-joven-adan-avatar-ilustracion-personajes-personas-vectoriales-3d-estilo-minimalista-dibujos-animados_365941-687.jpg?semt=ais_hybrid" alt="avatar">
      </button>
    </div>
  </div> -->
</nav>
