<nav class="d-flex justify-between align-center" [ngClass]="cssClass">
  <div class="icon-container d-flex align-center">
    <a href="/home#top"><h2>RENTA <span>GO</span></h2></a>
  </div>
  <div class="options" *ngIf="isHomeView">
    <ul class="firts">
      <li><a href="/home#about">About</a></li>
      <li><a href="/home#catalog">Catalog</a></li>
    </ul>
    <ul class="second">
      <li><a href="/login">Sign in</a></li>
      <li><a href="/sign-up">Sign up</a></li>
    </ul>
  </div>
</nav>
