<main class="grid">
  <ng-container *ngIf="car">
    <header class="header">
      <div class="left">
        <h4>{{ car.brand }}</h4>
        <h2>{{ car.model }}</h2>
        <span>{{ car.car_year }}</span>
      </div>
      <div class="center">
        <div class="child mileage">
          <h2>Mileage</h2>
          <h2>{{ car.mileage }}</h2>
        </div>
        <div class="child transmition">
          <h2>Transmission</h2>
          <h2>
            {{ car.transmission }}
            <fa-icon
              [icon]="faRetwet"
              *ngIf="car.transmission == 'Manual'"
            ></fa-icon>
            <fa-icon
              [icon]="faWandSparkles"
              *ngIf="car.transmission == 'Automatic'"
            ></fa-icon>
          </h2>
        </div>
        <div class="child type">
          <h2>Type</h2>
          <h2>{{ car.car_type }}</h2>
        </div>
        <div class="child licence">
          <h2>License plate</h2>
          <h2>{{ car.license_plate }}</h2>
        </div>
        <div class="child seats">
          <h2>Seats</h2>
          <h2>{{ car.seats }}</h2>
        </div>
      </div>
      <div class="right">
        <div class="child payment">
          <h2>Your payment</h2>
          <h2>{{ car.daily_fee }} <span>/day</span></h2>
        </div>
        <div class="icon-container d-flex align-center">
          <a href="/home#top"><h2>RENTA <span>GO</span></h2></a>
        </div>
      </div>
    </header>
    <div class="car">
      <img [src]="car.image_path" alt="" />
      <div class="calendar">
        <full-calendar
        [options]="calendarOptions"
        >
        </full-calendar>
      </div>
    </div>
  </ng-container>
</main>
