<main class="flex">
  <div class="booking" *ngFor="let booking of bookings">
    <div class="header">
      <div class="icon">
        <img [src]="booking.image_path" alt="" />
      </div>
      <h3>{{ booking.license_plate }}</h3>
      <button (click)="showModal($event, booking.id_booking)">
        <fa-icon [icon]="faEllipsis"></fa-icon>
      </button>
    </div>
    <div class="details">
      <p><span class="label">Client:</span> {{ booking.nombre }}</p>
      <p>
        <span class="label">Date start:</span>
        {{ booking.start_date | formatDate }}
      </p>
      <p>
        <span class="label">Date end:</span> {{ booking.end_date | formatDate }}
      </p>
      <p><span class="label">Total cost:</span> ${{ booking.total_cost }}</p>
    </div>
    <div class="footer">
      <span class="badge" [ngClass]="getBookingClass(booking.b_status)">
        {{ booking.b_status | convertStatusBooking }}
      </span>
    </div>
  </div>

  <div
    class="container-ellipsis"
    *ngIf="showEllipsisModal"
    [ngStyle]="{
      top: modalPosition.top,
      left: modalPosition.left,
      position: 'absolute'
    }"
  >
    <div class="modal-ellipsis">
      <p>Booking {{ selectedBookingId }}</p>
      <button (click)="hideModal()" class="cancel-modal">
        <fa-icon [icon]="faCancel"></fa-icon>
      </button>
      <button *ngIf="isRole1" class="action-btn delete" (click)="hideModal()">
        <fa-icon [icon]="faDelete"></fa-icon>
        <span>Delete booking</span>
      </button>
      <button *ngIf="isRole1" class="action-btn edit" (click)="hideModal()">
        <fa-icon [icon]="faEdit"></fa-icon>
        <span>Edit booking</span>
      </button>
      <button class="action-btn cancel" (click)="hideModal()">
        <fa-icon [icon]="faCancel"></fa-icon>
        <span>Cancel booking</span>
      </button>
    </div>
  </div>
  <ng-container *ngFor="let _ of [1, 2, 3, 4, 5]">
    <p-skeleton width="100%" height="140px"></p-skeleton>
  </ng-container>
</main>
