@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=La+Belle+Aurore&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}



html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.d-block{
  display: block;
}

.f-column {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end{
  justify-content: end;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-start {
  align-items: start;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.container-main{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card{
  justify-self: center;
  width: 80%;
  border-radius: 10px;
}

.card-big{
  width: 100%;
  border-radius: 10px;
  background-color: white;

  &:first-of-type{
    margin-left: 50px;
  }
}

.card-car{
  background-color: white;
  -webkit-box-shadow: -2px -6px 16px -1px rgba(217, 217, 217, 1);
  -moz-box-shadow: -2px -6px 16px -1px rgba(217, 217, 217, 1);
  box-shadow: -2px -6px 16px -1px rgba(217, 217, 217, 1);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card:not(:first-of-type){
  background-color: white;
}

// Colors for password secure

.level-high-bg{
  background-color: green;
}

.level-medium-bg{
  background-color: yellow;
}

.level-low-bg{
  background-color: red;
}

.level-high-color{
  color: green;
}

.level-medium-color{
  color: yellow;
}

.level-low-color{
  color: red;
}

.nav-dark{
  background-color: #131313;
}